<div class="row">
  <div class="mx-auto col-10 col-md-8 col-lg-6">
    <%= form_with model: @artist do |f| %>
      <div class="row mb-4">
        <div class="col">
          <div class="form-outline">
            <%= f.label :Artist_name, class: "form-label" %>
            <%= f.text_field :name, class: "form-control" %>
          </div>
        </div>
      </div>
      <%= f.submit 'Submit', class: "btn btn-primary btn-block mb-4" %>
    <% end %>
  </div>
</div>