<p style="color: green"><%= notice %></p>

<h1>Tags</h1>
<%= link_to 'New Tag', new_tag_path%>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Song</th>
      <th scope="col">Edit</th>
      <th scope="col">Show</th>
      <th scope="col">Destroy</th>
    </tr>
  </thead>
  <tbody>
    <% @tags.each_with_index do |tag|%>
      <%= render :partial => "tag", locals: {tag: tag} %>
    <% end %>
  </tbody>
</table>